.App {
  height: 610px;
  width: 1280px;
}
.text {
  width: 475px;
  height: 112px;
  left: 100px;
  top: 365px;
  font-family: "poppins", sans-serif;
}
.social {
  position: absolute;
  width: 56px;
  height: 15px;
  left: 575px;
  top: 580px;
}
.logo {
  width: 64px;
  height: 22px;
  left: 100px;
  top: 110px;
}
.green {
  color: #08a593;
}
.worldlogo {
  width: 84px;
  height: 18px;
}
.web {
  left: 100px;
  top: 580px;
}
.pagin {
  left: 100px;
  top: 475px;
}
